/*General styles*/
* {
    font-family: "Roboto Mono", monospace;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px;
}

/*Header styles*/

.header {
    z-index: 9999;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(10px) saturate(10%) contrast(100%);
}

.header > .container, .footer > .container {
    padding: 12px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.taskbar__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.taskbar__item {
    margin: 0 20px;
    list-style-type: none;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    letter-spacing: -0.03ch;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo__item {
    margin: auto 10px;
}

.resume {
    background-color: black;
    font-weight: 400;
    font-size: 24px;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/*Description styles*/

.description > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}



.description__text > p {
    color: #71717A;
    
}

.description__text-title {
    font-weight: 400;
    font-size: 48px;
}

.description__text-title > span {
    font-weight: 900;
}

.description__icons {
    display: flex;
    position: absolute;
    bottom: 30px;
}

.description__icons-box {
    width: 56px;
    height: 56px;
    border: 1px black solid;
    border-radius: 7px;
    margin: 0 20px 0 0;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    background-color: white;
}

.description__icons-box:hover {
    filter: invert(100%);
}

.description__icons-box > img {
    width: 60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

