/*General styles*/
* {
    font-family: "Roboto Mono", monospace;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px;
}

/*Header styles*/

.header {
    z-index: 9999;
    position: sticky;
    top: 0px;
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    /* backdrop-filter: blur(10px) saturate(10%) contrast(100%); */
}


.header > .container, .footer > .container {
    padding: 12px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/*Adaptive header*/
.header__adaptive {
    display: none;
    z-index: 9999;
    position: sticky;
    top: 0px;
    background: rgba( 255, 255, 255, 0.9 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
}


.header__button {
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
.header__button::before,
.header__button::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }
.header__button::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
  }
.header__button::after {
    bottom: 0;
  }

  .header__button::before {
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .header__button::after {
    transition: bottom .3s .15s, transform .3s;
  }
  .header__button.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .header__button.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }

.menu {
    display: none;
    position: fixed;
    width: 50%;
    right: 0;
    height: 100%;
    z-index: 1;
    background: rgba( 255, 255, 255, 0.9 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
}


.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    font-size: 24px;
    height: 100%;
    text-decoration: underline;
    font-weight: 900;
}

.menu__list-item {
    margin: 20px 0;
    width: 53%;
    text-align: right;
}



.showMenu {
    display: block;

}



.taskbar__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.taskbar__item {
    margin: 0 20px;
    list-style-type: none;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    letter-spacing: -0.03ch;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo__item {
    margin: auto 10px;
}

.resume {
    background-color: black;
    font-weight: 400;
    font-size: 24px;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/*Description styles*/

.description > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}



.description__text > p {
    color: #71717A;
    
}

.description__text-title {
    font-weight: 400;
    font-size: 48px;
}

span {
    font-weight: 900;
}

.description__icons {
    display: flex;
    position: absolute;
    bottom: 30px;
}

.description__icons-box {
    width: 56px;
    height: 56px;
    border: 1px black solid;
    border-radius: 7px;
    margin: 0 20px 0 0;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    background-color: white;
}

.description__icons-box:hover {
    filter: invert(100%);
}

.description__icons-box > img {
    width: 60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.skills__title {
    font-size: 48px;
    text-align: center;
}

.skills__table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills__table-box {
    width: 186px;
    height: 186px;
    border: 3px black solid;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
    flex-basis: 17%;
    margin: 20px auto;
    position: relative;
    transition: 0.4s;
}

.skills__table-box:hover {
    border: 3px white solid;
    filter: invert(100%);
}

.skills__table-box > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*Experience section*/

.experience {
    background-color: black;
}

.experience__title {
    font-size: 48px;
    text-align: center;
    color: white;;
}

.experience__block {
    background-color: black;
    border: 3px #27272a solid;
    border-radius: 6px;
    padding: 30px 24px;
    margin-top: 32px;
    transition: 0.3s;
}

.experience__block:hover {
    background-color: #27272a;
}

.experience__header {
    display: flex;
    justify-content: space-between;
}

.experience__header-title {
    display: flex;
}

.experience__header-text {
    color: white;
    margin-left: 10px;
}


.experience__description, .experience__header-date {
    color: #bababd;
}

.experience__header-date {
    font-weight: bold;
}

/*About section*/

.about > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__block {
    max-width: 756px;
    position: relative;
}

.about__title {
    font-weight: 400;
    font-size: 48px;
}

.about__block-description {
    color: #71717a;
}

/*Projects section*/

.projects {
    background-color: black;
}

.projects__title {
    color: white;
    text-align: center;
    font-size: 48px;
}

.projects__box {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.projects__box-title {
    color: white;
    font-size: 48px;
}

.projects__box-name {
    color: white;
    font-size: 32px;
}

.projects__box-comment {
    color: #bababd;

}

.projects__box-item {
    /* background: gray; */
    flex-basis: 47%;
    list-style-type: none;
    margin-top: 40px;
}

.projects__box-img {
    width: 100%;
}

/*Testimonials section*/

.testimonial__box {
    display: flex;
    justify-content: space-between;
}

.testimonial__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 360px;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    transition: 0.3s;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.testimonial__card:hover {
    background-color: black;
    color: white;
}

.testimonial__title {
    text-align: center;
    font-size: 48px;
}

hr {
    border: 2px #bababd solid;
    width: 40%;
}

.testimonial__name {
    font-size: 24px;
    font-weight: bold;
}

.testimonial__description {
    color: #71717A;
}

/*Feedback section*/

.feedback > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    justify-content: space-between;
}

.feedback__form > input {
    margin-bottom: 20px;
    padding: 18px;
    border: 2px black solid;
    border-radius: 6px;
}



#message {
    resize: none;
    margin-bottom: 20px;
    padding: 18px;
    border: 2px black solid;
    border-radius: 6px;
}

.feedback__form > button {
    padding: 18px;
    color: white;
    background-color: black;
    font-size: 24px;
    font-weight: 700;
    border: 1px black solid;
    border-radius: 6px;
    cursor: pointer;
}

.feedback__title {
    font-size: 48px;
    font-weight: 700;
    border-right: 5px solid;
    display: inline;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        cursor .4s step-end infinite alternate;
    ;
}

@keyframes cursor {
    50% {border-color: transparent;}
}


.feedback__description-text {
    color: #71717A;
    font-size: 18px;
}

.feedback__contacts {
    font-size: 24px;
    font-weight: 700;
}

.feedback__success {
    display: none;
    flex-direction: column;
    min-width: 500px;
    min-height: 397px;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 9.91px 9.91px 15px #bdbdbd, -9.91px -9.91px 15px #FFFFFF;
}

.feedback__success  > p {
    margin: 10px 0;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

/*Footer section*/

.footer {
    background-color: black;
    color: white;
}

.footer__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.footer__logo {
    display: flex;
    justify-content: space-between;
}

.footer__logo > img {
    filter: invert(100%);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
